@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#hero {
  background: linear-gradient(
      180deg,
      rgb(16, 16, 16) -19.5%,
      rgba(16, 16, 16, 0) 100%
    ),
    url('../assets/hero-bg.png');

  /* position: absolute; */
  width: 1360px;
  height: 652px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
